---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const useCases = await getCollection("useCases");

  return useCases.map((useCase) => ({
    params: {
      id: useCase.slug,
    },
    props: { useCase },
  }));
}

const { useCase } = Astro.props;
const { data, slug } = useCase;
const { title, img } = data;

const { Content } = await render(useCase);
---

<Layout title={`${title}`}>
  <div class="w-full bg-bubble-gum mb-4 py-2">
    <div class="max-w-2xl m-auto px-7" transition:name={`img-${slug}`} >
      <Image
        src={`/${img}`}
        class="w-28"
        alt={title}
        width={900}
        height={900}
      />
    </div>
  </div>
  <div class="flex flex-col items-center m-auto prose p-3">
    <div class="w-full">
      <h1>
        {title}
      </h1>
    </div>
    <div>
      <Content />
    </div>
  </div>
</Layout>
