---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const useCases = await getCollection("useCases");
---

<Layout>
  <!-- <Welcome /> -->
  <div class="prose">
    <h1>Raquel Navarro</h1>
  </div>
  <p>
    {
      useCases.map((useCase) => {
        return (
          <article>
            <a href={`/use-case/${useCase.slug}`}>
              <img
                transition:name={`img-${useCase.slug}`}
                src={`/${useCase.data.img}`}
                class="w-64"
                alt={useCase.data.title}
              />
              <h2 transition:name={`title-${useCase.slug}`}>
                {useCase.data.title}
              </h2>
            </a>
          </article>
        );
      })
    }
  </p>
</Layout>
