---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import raquel from "../assets/raquel.jpg";
const useCases = await getCollection("useCases");
---

<Layout>
  <header
    class="py-24 px-8 md:px-0 flex justify-center md:justify-between items-center gap-6"
  >
    <div>
      <span class="text-5xl block md:hidden text-center pb-4">👩&zwj;🚀</span>
      <p class="prose-gray font-bold text-center md:text-left">
        Hola!, my name is <span class="text-bubble-gum text-xl"
          >Raquel Navarro</span
        > and I am a
      </p>
      <div class="prose prose-xl py-4 text-center md:text-left">
        <h1>Product Owner</h1>
      </div>
      <div class="flex gap-4 justify-center md:justify-between">
        <span class="text-3xl hidden md:block">👩&zwj;🚀</span>
        <p class="text-gray-500 text-center md:text-left">
          Turning ideas into products that work for everyone. <br /> Listen, plan,
          and guide the flow.
        </p>
      </div>
    </div>
    <Image
      src={raquel}
      width={300}
      height={300}
      alt="Raquel Navarro product owner header"
      loading="eager"
      class="hidden md:block rounded-2xl"
    />
  </header>
  <div class="p-4 w-full flex justify-center">
    <span class="radius-lg shadow-lg rounded-2xl p-4 font-bold text-xl"
      >Use cases</span
    >
  </div>
  <section class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-3">
    {
      useCases.map((useCase) => {
        return (
          <article>
            <a
              href={`/use-case/${useCase.slug}`}
              class="flex flex-col items-center radius-lg shadow-lg rounded-2xl p-4 "
            >
              <Image
                transition:name={`img-${useCase.slug}`}
                src={`/${useCase.data.img}`}
                width={900}
                height={900}
                alt={useCase.data.title}
                class="w-full rounded-xl transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-120 duration-300"
                loading="eager"
              />

              <span transition:name={`title-${useCase.slug}`} />
            </a>
          </article>
        );
      })
    }
  </section>
</Layout>
