---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import LetsTalkMailButton from "../components/LetsTalkMailButton.astro";
import Header from "../components/home/Header.astro";
import Blockquote from "../components/Blockquote.astro";
import { recommendationsImages,RecommendationsImagesId } from '../utils/recommendationsImages'
import recommendations from "../data/recommendations.json";
import {getRandomInt} from "../utils/getRandomInt";

const useCases = await getCollection("useCases");
useCases?.sort((a, b) => b.data.client.localeCompare(a.data.client));
const index = getRandomInt( recommendations.length )
const {content, author} = recommendations[index];
const recommendationImage = recommendationsImages[recommendations[index].imageId as RecommendationsImagesId];
---

<Layout>
  <Header />
  <section
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 max-w-screen-2xl m-auto scroll-m-20"
    id="use-cases"
  >
    {
      useCases.map((useCase) => {
        return (
          <article>
            <a
              href={`/use-case/${useCase.slug}`}
              class="relative bg-bubble-gum aspect-square flex items-center shadow-sm transition ease-in-out hover:-translate-y-2 hover:scale-120 hover:shadow-lg duration-300"
            >
              <Image

                src={`/${useCase.data.img}`}
                width={900}
                height={900}
                alt={useCase.data.title + " - " + useCase.data.client}
                class="w-full p-20 absolute"
                loading="eager"
              />
              <Image
                src={`/${useCase.data.bg}`}
                width={900}
                height={900}
                alt={useCase.data.title}
                class="w-full use-case-image absolute z-0" 
                loading="eager"
              />
            </a>
          </article>
        );
      })
    }
  </section>
  <section class="py-24 flex justify-center items-center gap-6">
    <Blockquote
      content={content}
      author={author}
      image={recommendationImage}
    />
  </section>
  <section class="pb-24 flex justify-center items-center gap-6">
    <LetsTalkMailButton />
  </section>
</Layout>

<script is:inline>
  (function() {
    const init = () => {
      let useCaseImages = document.querySelectorAll(".use-case-image")

      const handleScroll = () => {
        useCaseImages.forEach((img) => {
          const rect = img.getBoundingClientRect();
          const percentageToCenter = Number((rect.top /rect.height) * 100).toFixed(0);
          const clampedPercentage = Math.max(0, Math.min(100, percentageToCenter));
          const opacityValue = (clampedPercentage / 100);

          img.style.opacity = opacityValue < 0.20 ? 0.20 : opacityValue;
          img.style.clipPath = `polygon(0 0, 100% 0, 100% 100%, ${100 - clampedPercentage}% ${clampedPercentage}%)`;
        });
      }

      document.addEventListener("scroll", handleScroll)
    }

    init();
    document.addEventListener("astro:after-swap", init)
  })();
</script>