---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const useCases = await getCollection("useCases");
import LetsTalkButton from "../components/LetsTalkButton.astro";
import Header from "../components/home/Header.astro";
import Blockquote from "../components/Blockquote.astro";
import { recommendationsImages,RecommendationsImagesId } from '../utils/recommendationsImages'

useCases?.sort((a, b) => b.data.client.localeCompare(a.data.client));
import recommendations from "../data/recommendations.json";
---

<Layout>
  <Header />
  <section
    class="grid grid-cols-1 gap-2 md:grid-cols-3 lg:grid-cols-3 max-w-screen-2xl m-auto scroll-m-20"
    id="use-cases"
  >
    {
      useCases.map((useCase) => {
        return (
          <article>
            <a
              href={`/use-case/${useCase.slug}`}
              class="bg-bubble-gum aspect-square flex items-center shadow-sm transition ease-in-out hover:-translate-y-2 hover:scale-120 hover:shadow-lg duration-300 p-5"
            >
              <Image
                transition:name={`img-${useCase.slug}`}
                src={`/${useCase.data.img}`}
                width={900}
                height={900}
                alt={useCase.data.title}
                class="w-full "
                loading="eager"
              />
            </a>
          </article>
        );
      })
    }
  </section>
  <section class="py-24 flex justify-center items-center gap-6">
    <Blockquote
      content={recommendations[0].content}
      author={recommendations[0].author}
      image={recommendationsImages[recommendations[0].imageId]}
    />
  </section>
  <section class="pb-24 flex justify-center items-center gap-6">
    <LetsTalkButton />
  </section>
</Layout>
