---
import { Image } from "astro:assets";
import LinkedInButton from "./LinkedInButton.astro";

import menuEntries from "../data/menu-entries.json";
const { home,useCases, about } = menuEntries;
---

<nav
  class="w-full p-4 top-0 fixed z-10 bg-white"
  transition:name=`navigation`
  transition:animate="none"
>
  <article class="flex justify-between gap-4 m-auto max-w-4xl px-3">
    <a href={home.href} class="flex gap-3 items-center">
      <Image
        src={`/rn-logo.png`}
        alt="Raquel Navarro product owner navigation logo"
        width={40}
        height={40}
        loading=`eager`
      /><span class="font-bold hidden md:block">Product Owner</span></a
    >
    <div class="flex gap-6 items-center">
      <a href={useCases.href}>{useCases.title}</a>
      <a href={about.href}>{about.title}</a>
      <LinkedInButton />
    </div>
  </article>
</nav>
